body {
  background-color: rgb(249, 250, 250);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif";
}
#taga {
box-sizing: border-box;
border: 1px solid blue;
padding: 10px;
text-align: center;
color: aliceblue;
background-color: #6666ff;
}
th,td {
    text-align: center;
  }
#img-icon {
  height: 20px;
}

#total-orders {
  background-color:rgb(191, 243, 184);
}

#order-delivered {
  background-color:rgb(215, 248, 240);
}

#order-pending{
  background-color:rgb(181, 218, 240);
}